/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;}

/***************************************
Top Banner formatting
***************************************/

.top-banner {
  background-color: #141414;
  color: #FFF;
  font-family: sans-serif;
  font-size: 35px;
  padding: 30px;
}

.title-text {
  max-width: 650px;
  margin: 0 auto;
  overflow: auto;
}

.greeting {
	margin: 30px auto;
}

.page-name {
  color: #AE5CC8;
  font-weight: bold;
  font-size: 25px;
}

.top-banner p {
  font-size: 18px;
  padding: 30px 0px;
}

input[type=text] {
  border: 0 none;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 30px;
  margin-bottom: 80px;
	width: 55%;
}

.email-button {
  background-color: #AE5CC8;
  border:0 none;
  border-radius: 5px;
  font-size: 18px;
  color: #FFF;
  padding: 10px 30px;
	width: 30%;
}

.email-row {
	display: block;
	width: 100%;
}

/*************************************
Main body styling
*************************************/
body {
  font-family: sans-serif;
}

h2 {
	clear: both;
  font-size: 20px;
  font-weight: bold;
	margin: 20px auto;
}

.page {
	margin: 0 auto;
	max-width: 650px;
}

.page-content {
  clear: both;
}

.page-content input[type=text] {
  background-color: #AAA;
}

.instructors li {
  color: #9c9c9c;
  float: left;
  width: 193px;
	margin-bottom: 30px;
  margin-right: 20px;
  font-size: 15px;
  line-height: 21px;
}

.instructors em {
  font-style: normal;
  display: block;
  margin: 11px 0 4px 0;
  font-size: 19px;
  color: #000000;
}

.logos li {
	display: block;
	float: left;
	margin: 20px;
	padding: 10px;
}

.info {
	clear: both;
	line-height: 1.4em;
}

.page-email {
	background-color: #EEE;
	margin-right: 10px;
}

.row {
	margin: 30px auto;
}

/***********************************
Media queries
***********************************/

@media screen and (max-width: 650px) {

	.instructors li {
		clear: both;
		margin: 20px auto;
		width: 100%;
	}

	.instructors li img {
		float: left;
		width: 30%;
	}

	.instructors p {
		float: left;
		width: 70%;
	}

	input[type=text] {
		display: block;
		margin: 10px auto;
		padding: 10px 20px;
		width: 100%;
	}

	.email-button {
		display: block;
		width: 100%;
	}
}
